
:root {
    --md-primary-fg-color: #000000;
    --md-primary-fg-color--light: #ffffff;
    --md-primary-fg-color--dark: #147ecc;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
    --md-accent-fg-color: #033982;
    --md-accent-fg-color--transparent: #0339821a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
    --md-banner: url(../img/home/bi.webp) no-repeat right top;
    --md-hjs-color: #00f;
    --md-primary-heder-fg-color: var(--md-primary-fg-color);
    --md-typeset-a-hover-color: #ff7300;
    --md-nav-link-color: #ff7300;
}
:root {
    --md-text-font: 'Source Sans Pro', sans-serif;
    --md-code-font: 'Source Sans Pro', sans-serif;
}
/* colors for dark theme */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #ffffff;
    --md-primary-fg-color-header: #23272f;
    --md-primary-fg-color-header-text: #f5f6f7;
    --md-primary-fg-color-header-text-active: #cccccc;
    --md-accent-fg-color: #ff7300;
    --md-default-bg-color: #23272f;
    --md-typeset-a-color: #ff7300;
 /*    --md-banner: url(../img/banner-for-blue-alt-dark.png) no-repeat right top;  */
    --md-hjs-color: rgb(186, 186, 255);
    --md-primary-bg-color: #23272f;
    --md-primary-heder-fg-color: var(--md-primary-fg-color--light);
    --md-logo: transparent url(../img/logo.svg) no-repeat left top;
    --md-primary-fg-color-header-search-bg: #000000;
    --md-primary-fg-color-header-search-text: #e4e4e4;
    --md-md-code-bg-color: #000000;
    --md-feedback-button-color: #c6c6c6;
}
/* colors for the light theme */
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #000000;
    --md-primary-fg-color-header: #f5f6f7;
    --md-primary-fg-color-header-text: #1d1d1d;
    --md-primary-fg-color-header-text-active: #444444;
    --md-default-bg-color: #ffffff;
    --md-accent-fg-color: #ff7300;
    --md-typeset-a-color: #ff7300;
    --md-logo: transparent url(../img/logo-for-light.svg) no-repeat left top;
    --md-primary-fg-color-header-search-bg: #cacaca42;
    --md-primary-fg-color-header-search-text: #303030;
    --md-md-code-bg-color: #e6e6e6;
    --md-feedback-button-color: #636363;
}
.md-button {
    color: var(--md-primary-fg-color-header-text) !important;
}
.md-button--primary {
    color: var(--md-default-bg-color) !important;
}
.md-tabs {
    background-color: var(--md-primary-fg-color-header);
    color: var(--md-primary-fg-color-header-text);
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
    color: var(--md-primary-fg-color-header-text-active);
}
.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag, .hljs-tag {
    color: var( --md-hjs-color);
}
.banner-link {
    width: 480px;
    height: 363px;
    margin-left: 50px;
    margin-right: 200px;
}
.md-header__button {
    color: var(--md-primary-heder-fg-color);
    
}
.md-content a {
    color: var(--md-typeset-a-color);
}

.md-content a:hover {
    color: var(--md-typeset-a-hover-color);
}

.md-nav__link:hover {
    color: var(--md-typeset-a-color);
}

.md-nav__link--active {
    color: var(--md-nav-link-color);
}

.md-tabs__link:hover {
    color: var(--md-typeset-a-color);
}

.md-tabs__link--active {
    color: var(--md-nav-link-color);
}
